<html lang="en">

<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <!-- <link href='/static/css/style.css' rel='stylesheet' type='text/css'> -->
  <link href='/static/css/signup.css' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Document</title>


</head>

<body>
    <div class="row">
        <div class="row teal-lighten-3 title z-depth-3" style="background-color: rgb(108, 163, 163);padding:4vw" >
            <h4 class="center White-text "><u><b>Teacher's Portal</b></u></h4>
            <h5 class="center-align">A portal that not only aims to provide equitable education to <br>
              children in remote area but also aids the teachers and volunteers<br>
               registered to manage and track the student's progress in the crisis<br>
                caused due to Covid - 19</h5>
        </div>
    </div>
    
  <div class="container">
    <div class="row">
      <form class="col s12" id="reg-form" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <input name="user_name" id="first_name" type="text" class="validate" required>
            <label for="user_name">User Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" id="specialization" name="specialization" required>
            <label for="specialization">Specialization</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="mobile_number" id="mobno" type="text" class="validate" required>
            <label for="mobno">Mobile Number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email-id" id="email" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="pwd" id="password" type="password" class="validate" minlength="6" required>
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <div class="proff-teacher">
              <input class="with-gap" name="proffession" type="radio" id="teacher" required />
              <label for="teacher">Teacher</label>
            </div>
            <div class="proff-volunteer">
              <input class="with-gap" name="proffession" type="radio" id="volunteer" required />
              <label for="volunteer">Volunteer</label>
            </div>
          </div>

          <div class="input-field col s6">
            <button class="btn btn-large btn-register waves-effect waves-light " type="submit" name="action">Register
              <i class="material-icons right">done</i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <a title="Login" class="ngl btn-floating btn-large waves-effect waves-light red" href="/auth/login/"><i
        class="material-icons">input</i></a>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('select').material_select();
    });
  </script>
</body>

</html>